body{
    background-color: rgb(229, 229, 231);
    font-family: 'Tahoma', Segoe UI, Geneva, Verdana, sans-serif;
}
#fbsearch{
    background-color: rgb(229, 229, 231);
}
#upload{
    background-color: rgb(229, 229, 231);
}
.navicons{
    background-color: rgb(227, 227, 230);
    border-radius: 50%;
    padding-right: 20%;
    padding-left: 20%;
}
.navsubicons{
    background-color: rgb(227, 227, 230);
    border-radius: 50%;
    padding: 5%;
}
#navbarNav{
    margin-left: 100px;
}
.c{
    margin-left: 90px;
}
#user{
    margin-left: 120px;
}
.r{
    margin-left: 20px;
}
svg{
    position: relative;
    cursor: pointer;
}
.mb-1{
    padding: 20px 150px 10px 20px;
    border-radius: 2%;
    font-weight: 600;
}
.mb-1:hover{
    background-color: rgb(206, 206, 209);
    cursor: pointer;
}
.card{
    margin-left: 100px;
    width: 650px;
    overflow: hidden;
    margin-top: 5px;
}
.statusbtn{
    padding-left: 35px;
    padding-right: 35px;
}
.statusbtn:hover{
    background-color: rgb(206, 206, 209);
}
.mb-2{
    padding: 10px 185px 10px 20px;
    border-radius: 2%;
    font-weight: 550;
}
.mb-2:hover{
    background-color: rgb(206, 206, 209);
    cursor: pointer;
}
.chaticons{
    margin-left: 20px;
}
#lc{
    margin-left: 80px;
}
.card-subtitle{
    font-size: 12px;
    margin-top: -12px;
    margin-bottom: 10px;
    margin-left: 43px;
}
#likebtn,#commentbtn,#sharebtn{
    margin-left: 40px;
}
#chat{
    display: inline-flex;
    margin-left: 500px;
}
#sidebar{
    display: inline-flex;
}
#post{
    width: 300px;
}
#viewcomments{
    color: grey; 
    cursor: pointer; 
    margin-left: 450px;
}
#morepost{
    margin-left: 490px;
}
nav{
    background-color: white;
}
.navbar2{
    background-color: #4267B2;
    display: none;
    width: 100%;
    overflow-x: hidden;
}
#postimg{
    height: 300px;
    width: 300px;
    margin-left: 150px;
}
#fbicon{
    margin: 5px;
}
.navbar2 a{
    color: white;
    margin-right: 5px;
    margin-left: 8px;
    text-decoration: none;
}
#fbsearch2{
    width: 60%;
}
#userimg{
    width: 60px;
    height: 60px;
    background-color: white;
    border: solid black 1px;
    display: none;
    margin-left: 8px;
    margin-top: 5px;
}
#upload2{
    width: 75%;
    display: none;
    margin-left: 5px;
}
#uploadbtn{
    display: none;
}
@media(max-width: 1296px){
    .card{
        margin-left: -30vh;
        width: 650px;       
    }
    #chat{
        margin-left: 150px;
    }
    .mb-1{
        padding-right: 150px;
    }
    .c{
        margin-left: 80px;
    }
    #post{
        margin-left: 180px;
        margin-top: 0vh;
    }
    #user {
        margin-left: 60px;
    }
}
@media(max-width: 1285px){
    #post {
        width: 291px;
    }
}
@media(max-width: 1276px){
    #post {
        width: 282px;
    }
    .mb-1 {
        padding-right: 111px;
    }
}
@media(max-width: 1239px){
    .card {
        width: 647px;
    }
    #chat {
        margin-left: 150px;
    }
    .chaticons{
        margin-left: 10px;
    }
    .mb-2 {
        padding: 11px;
    }
    
    #user,#fbsearch{
        display: none;
    }
    .r1{
        margin-left: 140px;
    }
    .c1{
        margin-left: -30px;
    }
}
@media(max-width: 1209px){
    #chat {
        margin-left: 129px;
    }
    .card {
        width: 633px;
    }
}
@media(max-width: 1187px){
    .mb-1 {
        padding-right: 83px;
    }
}
@media(max-width: 1159px){
    .mb-2 {
        padding: 8px;
    }
    #chat {
        margin-left: 124px;
    }
}
@media(max-width: 1154px){
    #lc {
        margin-left: 32px;
    }
}
@media(max-width: 1124px){
    #sidebar{
        display: none;
    }
    .card{
        margin-left: -35px;
        width: 651px;
    }
    #chat {
        margin-left: 344px;
    }
    #post{
        margin-left: 83px;
    }
}
@media(max-width: 992px){
    #chat {
        display: none;
    }
    .navbar{
        display: none;
    }
    .navbar2{
        display: block;
    }
    #statuspostcard{
        display: none;
    }
    #userimg{
        display: inline;
    }
    #upload2{
        display: inline;
    }
    #uploadbtn{
        display: inline;
    }
    #act{
        display: inline;
    }
}
@media(max-width: 715px){
    .statusbt{
        display: none;
    }
    #viewcomments{
        display: none;
    }
    #morepost{
        display: none;
    }
    .card{
        width: 494px;
    }
    #postdp{
        display: none;
    }
    #postimg{
        margin-left: 60px;
    }
}
@media(max-width: 550px){
    hr{
        display: none;
    }
    .statusbtn{
        padding-top: 10px;
        padding-bottom: 0px;
        padding-left: 20px;
    }
    #likebtn, #commentbtn, #sharebtn{
        margin-left: 0px;
    }
    .card {
        width: 373px;
    }
    #postimg{
        margin-left: 1vh;
        margin-bottom: 0.5vh;
    }
    #upload2{
        width: 50%;
    }
}
@media(max-width: 390px){
    .card{
        width: 40vh;
    }
    #upload{
        width: 28vh;
    }
    #upload::placeholder{
        font-size: 0px;
    }
    .statusbtn{
        padding: 0px;
        padding-top: 2vh;
    }
    .statusbtn{
        margin-left: 5vh;
    }
    #likebtn,#commentbtn,#sharebtn{
        margin-left: 5vh;
        padding: 0px;
        padding-top: 2vh;
    }
}
@media(max-width: 382px){
    #fbsearch2{
        width: 25vh;
    }
}
@media(max-width: 334px){
    #fbsearch2{
        width: 20vh;
    }
    #postimg{
        height: 200px;
        width: 200px;
        margin-left: 7vh;
    }
}
@media(max-width: 320px){
    .card {
        margin-left: -8vh;
        width: 39vh;
    }
    #upload{
        width: 28vh;
    }
}
@media(height: 1024px),(width: 768px){
    .card-subtitle{
        margin-left: 4vh;
        margin-top: -3vh;
    }
    .card{
        margin-left: 12vh;
        width: 50vh;
    }
    #upload{
        width:70vh;
    }
    .statusbt{
        display: none;
    }
    #upload{
        width: 40vh;
    }
    #viewcomments{
        display: none;
    }
    #likebtn,#commentbtn,#sharebtn{
        padding-left: 1vh;
    }
    #postimg{
        margin-left: 8vh;
        margin-bottom: 0.5vh;
    }
}
@media(height: 1366px),(width: 1024px){
    .card{
        margin-left: -9vh;
        width: 69vh;
    }
    #upload{
        width: 75%;
    }
    #fbsearch{
        width: 15vh;
    }
    #navbarNav{
        margin-left: 17vh;
    }
    .c{
        margin-left: 5vh;
    }
    .card-subtitle{
        margin-top: -0.5vh;
        margin-left: 3vh;
    }
    #viewcomments{
        margin-left: 55vh;
    }
    #morepost{
        margin-left: 58vh;
    }
    #chat{
        display: none;
    }
    .r{
        display: none;
    }
    #postimg{
        margin-bottom: 0.5vh;
    }
}
@media(height: 360px),(width: 640px){
    .card{
        margin-left: 20vh;
        width: 119vh;
    }
    #upload{
        width: 100vh;
    }
}
@media(height: 823px),(max-width: 412px){
    .card{
        margin-left: -2vh;
        width: 47vh;
    }
    #post {
        margin-left: 1vh;
    }
}
@media(height: 736px),(width: 414px){
    .card{
        margin-left: -7vh;
    }
}
@media(height: 1024px),(width: 600px){
    .card{
        margin-left: -8vh;
    }
}
@media(height: 1280px),(width: 800px){
    .card{
        margin-left: -7vh;
        width: 51vh;
    }
    #upload{
        width: 45vh;
    }
    .statusbtn{
        padding-left: 1vh;
    }
    #likebtn,#commentbtn,#sharebtn{
        padding-left: 0px;
        margin-left: 0px;
    }
    #viewcomments{
        margin-left: 35vh;
    }
    #morepost{
        margin-left: 45vh;
    }
    .card-subtitle{
        margin-left: 3.5vh;
        margin-top: -2vh;
    }
    #postimg{
        margin-left: 10vh;
        margin-bottom: 0.5vh;
    }
}
@media(height: 960px),(width: 600px){
    .card{
        width: 50vh;
    }
    .card-subtitle{
        margin-left: 4.5vh;
        margin-top: -1.5vh;
    }
    #likebtn,#commentbtn,#sharebtn{
        padding-left: 1vh;
    }
    #postimg{
        margin-left: 7vh;
        margin-bottom: 0.5vh;
    }
}
@media(height: 533px),(width: 320px){
    .card{
        width: 65vh;
    }
    #upload{
        width:55vh;
    }
    #postimg{
        margin-left: 4vh;
    }
}
@media(height: 731px),(width: 411px){
    .card{
        width: 49vh;
    }
}
@media(height: 568px),(width: 320px){
    .card{
        width: 51vh;
    }
    #upload{
        width: 40vh;
    }
}
@media(height: 480px),(width: 320px){
    .statusbtn{
        padding-left: 0px;
        padding-top: 1vh;
    }
}
