body{
    background-color: rgb(229, 229, 231);
}
#fbsearch{
    background-color: rgb(229, 229, 231);
}
.navicons{
    background-color: rgb(227, 227, 230);
    border-radius: 50%;
    padding-right: 20%;
    padding-left: 20%;
}
.navsubicons{
    background-color: rgb(227, 227, 230);
    border-radius: 50%;
    padding: 5%;
}
#navbarNav{
    margin-left: 15vh;
}
.c{
    margin-left: 13vh;
}
#user{
    margin-left: 27vh;
}
.r{
    margin-left: 2vh;
}
svg{
    position: relative;
    cursor: pointer;
}
.mb-1{
    padding: 2vh 30vh 1vh 2vh;
    border-radius: 2%;
}
.mb-1:hover{
    background-color: rgb(206, 206, 209);
    cursor: pointer;
}
.card{
    margin-left: 9vh;
}
.statusbtn{
    padding-left: 5vh;
    padding-right: 5vh;
}
.statusbtn:hover{
    background-color: rgb(206, 206, 209);
}
